

ul
{
margin-top: 0;
}

.remerciement
{
    color: blue;
    font-family: Georgia, Arial, sans-serif;
	text-align: center;
}

.footer-remerciement
{
	text-align: center;
}

#global {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  
}